
.icon-emo-thumbsup:before { content: '\e808'; } /* '' */
.icon-chart-line:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e800'; } /* '' */
.icon-lock-open:before { content: '\e80e'; } /* '' */
.icon-level-down:before { content: '\e80b'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-megaphone:before { content: '\e80d'; } /* '' */
.icon-mail-alt:before { content: '\e80a'; } /* '' */
.icon-facebook-squared:before { content: '\e807'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-linkedin-squared:before { content: '\e804'; } /* '' */
.icon-linux:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-medkit:before { content: '\e80c'; } /* '' */